#main
  %h3 Administrator options
  %br
  
  %p.btn.btn-default= link_to "Students", students_path
  %p.btn.btn-default= link_to "Courses", courses_path
  %p.btn.btn-default= link_to "Requirements", requirements_path
  %p.btn.btn-default= link_to "Sign in with github", user_omniauth_authorize_path(:github)
  %p.btn.btn-default= link_to "Sign out of github", destroy_user_session_path
