#main

  .searchbox
    =form_tag students_path, method: :get do
      =label_tag "student_search_by_ID_number"
      =text_field_tag "student_search_by_ID_number", nil, maxlengh: 20
      %button.btn.btn-default{:type => "submit"} Find Student

  %h3 Student Listings

  %table.table.table-hover.students_table
    %tr.students_header
      %th{:class => "first"}= link_to "First", students_path(sort: 'first')
      %th{:class => "last"}= link_to "Last", students_path(sort: 'last')
      %th{:class => "sid"}= link_to "ID", students_path(sort: 'sid')
      %th{:class => "year"}= link_to "Year", students_path(sort: 'year')
      %th{:class => "major"}= link_to "Major", students_path(sort: 'major')

    -@students.each do |s|
      %tr
        %td{:class => "first"}= link_to "#{s.first}", student_path(s)
        %td{:class => "last"}= s.last
        %td{:class => "sid"}= s.sid
        %td{:class => "year"}= s.year
        %td{:class => "major"}= s.major

  %p.btn.btn-default= link_to("Create new student", new_student_path)
%br
%p.btn.btn-default= link_to("Back to administrator options", root_path)

