#main
  %h3 Student Listings

  %table.students_table
    %tr.students_header
      %th= link_to "First", students_path(sort: 'first')
      %th= link_to "Last", students_path(sort: 'last')
      %th ID
      %th Class
      %th= link_to "Major", students_path(sort: 'major')

    -@students.each do |s|
      %tr
        %td= link_to "#{s.first}", student_path(s)
        %td= s.last
        %td= s.id
        %td= s.year
        %td= s.major

  %p= link_to("Create new student", new_student_path)
