#main
  %h3= @student.first+" "+@student.last

  %table.students_table
    %thead
      %tr.students_header
        %th Student ID
        %th    
        %th Year
        %th    
        %th Major
    %tbody
      %tr
        %td= @student.sid
        %td= ""
        %td= @student.year
        %td= ""
        %td= @student.major

  %table.courses_table
    %thead
      %tr.courses_header
        %th Course Name
        %th CRN
    %tbody
    -@student.courses.each do |c|
      %tr
        %td=c.course_name
        %td=c.crn
        %td=button_to "Remove", "/students/#{@student.id}/courses/#{c.id}", :method=>:delete, :class=>:destroy

  %table.requirements_table
    %thead
      %tr.requirements_header
        %th Requirement
    %tbody
    -@student.requirements.each do |r|
      %tr
        %td=r.name
        %td=button_to "Remove", "/students/#{@student.id}/requirements/#{r.id}", :method=>:delete, :class=>:destroy

  %p= link_to("Edit Student details", edit_student_path)
  %p= link_to("Add Student to courses", student_courses_path(@student))
  %p= link_to("Add Student to requirements",student_requirements_path(@student))
  %br
  %p.btn.btn-default= link_to("Edit Student details", edit_student_path)
  %br
  %td= button_to "delete student", @student, :method => :delete, :class=>:destroy

%p.btn.btn-default= link_to "Back to students list", students_path
