#main
  %h3= @student.first+" "+@student.last

  %table.students_table
    %thead
      %tr.students_header
        %th Student ID
        %th Year
        %th Major
    %tbody
      %tr
        %td= @student.sid
        %td= @student.year
        %td= @student.major

  %table.courses_table
    %thead
      %tr.courses_header
        %th Course Name
        %th CRN
    %tbody
    -@student.courses.each do |c|
      %tr
        %td=c.course_name
        %td=c.crn
<<<<<<< HEAD
=======
        %td=button_to "Remove", "/students/#{@student.id}/courses/#{c.id}", :method=>:delete, :class=>:destroy

  %p= link_to("Edit Student details", edit_student_path)
  %p= link_to("Add Student to courses", student_courses_path(@student))
>>>>>>> 9ca8d0e47cf35725349878e1a319e27c5da084ff
  %br
  %p.btn.btn-default= link_to("Edit Student details", edit_student_path)
  %br
  %td= button_to "delete student", @student, :method => :delete, :class=>:destroy

%p.btn.btn-default= link_to "Back to students list", students_path
