#main

  %h3
    =precede "Requirement details for " do
      %span= @requirement.name
  %table.requirements_table
    %thead
      %tr.requirements_header
        %th Courses
      %tbody
      -@requirement.courses.each do |c|
        %tr
          %td= c.course_name
  %tr
  %td= link_to "Edit requirement", edit_requirement_path
  %br
  %td= link_to "Delete requirement", requirements_path, :method => :delete

%p= link_to "Back to requirement list", requirements_path
