#main

  %h3
    =precede "Requirement details for " do
      %span= @requirement.name
  %table.requirements_table
    %thead
      %tr.requirements_header
        %th Courses
      %tbody
      -@requirement.courses.each do |c|
        %tr
          %td= c.course_name
          %td=button_to "Remove", "/requirements/#{@requirement.id}/courses/#{c.id}", :method=>:delete, :class=>:destroy
  %p
  %p.btn.btn-default= link_to "Edit Major", edit_requirement_path
  %p.btn.btn-default= link_to("Add courses to requirement", requirement_courses_path(@requirement))

  %br
  %p= button_to "delete", @student, :method => :delete, :class=>:destroy
%p.btn.btn-default= link_to "Back to Majors list", requirements_path
