#main

  .searchbox
    =form_tag courses_path, method: :get do
      =label_tag "crn_search"
      =text_field_tag "crn_search", nil, maxlengh: 7
      =submit_tag "Find courses"

  %br
  %br
  %h4 Filter courses
  .filterbox
    =form_tag courses_path, method: :get do
      =label_tag "dept"
      =text_field_tag "dept", nil, maxlengh: 4
      %br
      =label_tag "level"
      =text_field_tag "level"
      %br
      =label_tag "instructor"
      =text_field_tag "instructor"
      %br
      =label_tag "days"
      =text_field_tag "days"
      %br
      =label_tag "after"
      =text_field_tag "after"
      %br
      =label_tag "before"
      =text_field_tag "before"
      %br
      =submit_tag "Filter courses"

      


  %h3 Course Listings

  %table.courses_table
    %tr.courses_header
      %th= link_to "CRN", courses_path(sort: 'crn')
      %th= link_to "Dept", courses_path(sort: 'dept')
      %th= link_to "Level", courses_path(sort: 'level')
      %th= link_to "Course Name", courses_path(sort: 'course_name')
      %th= link_to "Title", courses_path(sort: 'title')
      %th= link_to "Instructor", courses_path(sort: 'instructor')
      %th Days
      %th= link_to "Starts", courses_path(sort: 'starts')
      %th= link_to "Ends", courses_path(sort: 'ends')
      %th= link_to "Building/Room", courses_path(sort: 'building_room')
      %th= link_to "Credits", courses_path(sort: 'credits')
      %th Co-Reqs
      %th CrossList
      %th Restrictions
      %th Pre-Reqs
      %th Notes
    -@courses.each do |c|
      %tr
        %td= c.crn
        %td= c.dept
        %td= c.level
        %td= link_to "#{c.course_name}", course_path(c)
        %td= c.title
        %td= c.instructor
        %td= c.days
        %td= c.starts
        %td= c.ends
        %td= c.building_room
        %td= c.credits
        %td= c.coreq
        %td= c.crosslist
        %td= c.restrictions
        %td= c.prereq
        %td= c.notes
  %td= link_to "Create a new course", new_course_path
  %br
  %p= link_to("Back to administrator options", root_path)
