#main
  %h3 Course Listings

  %table.courses_table
    %tr.courses_header
      %th= link_to "CRN", courses_path(sort: 'crn')
      %th= link_to "Course Name", courses_path(sort: 'course_name')
      %th= link_to "Title", courses_path(sort: 'title')
      %th= link_to "Instructor", courses_path(sort: 'instructor')
      %th= Days
      %th= link_to "Starts", courses_path(sort: 'starts')
      %th= Ends
      %th= Building/Room
      %th= Credits
      %th= Co-Reqs
      %th= CrossList
      %th= Restrictions
      %th= Pre-Reqs
      %th= Notes
    -@courses.each do |p|
      %tr
        %td= p.crn
	%td= link_to "#{p.course_name}", course_path(p)
	%td= p.title
	%td= p.instructor
	%td= p.days
	%td= p.starts
	%td= p.ends
	%td= p.building_room
	%td= p.credits
	%td= p.coreq
	%td= p.crosslist
	%td= p.restrictions
	%td= p.prereq
	%td= p.notes