#main
  %h3="Course details for "+@course.course_name

  %table.courses_table
    %thead
      %tr
        %th Title
        %th Instructor
        %th Days
        %th Starts
        %th Ends
      %tbody
        %tr
          %td= @course.title
          %td= @course.instructor
          %td= @course.days
          %td= @course.starts
          %td= @course.ends
  %br

  %table.students_table
    %thead
      %tr
        %th Student name
        %th Student id
    %tbody
    -@course.students.each do |s|
      %tr
        %td= s.last + ", " + s.first
        %td= s.sid
  
  %br
  %p.btn.btn-default= link_to "Edit the existing course", edit_course_path
  %br
  %p=button_to "Delete", @course, :method=>:delete, :class=>:destroy
  %br
  %p.btn.btn-default= link_to "Back to course catalog", courses_path
  



